<!-- <footer id="layout-footer">
    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer> -->


<footer class="footer mt-5 bg-dark text-white ">
    <div class="text-center py-5">
        <h2 class="py-3" style="color: rgb(0, 132, 255); font-size: 50px;">NSS</h2>
        <h6 class="py-3" style="color: rgb(255, 0, 0);">CHITKARA UIVERSITY</h6>

       <div class="mx-auto heading-line"></div>
     </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-8 offset-lg-2 text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla aliquet est nec aliquet. 
                  Cras convallis ultrices </p>
                <div class="justify-content-center">
                  <i class="fab fa-facebook fa-2x"></i>
                  <i class="fab fa-twitter fa-2x"></i>
                  <i class="fab fa-instagram fa-2x"></i>
                  
                  </div>
           </div>
        </div>
        <div class="copyright text-center py-3 border-top text-light">
          <p>&copy; Copy Right  Param's & Team</p>
            
        </div>
    </div>

</footer>